<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
            width: 30px;
            height: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>15x15 Crossword</h1>
    <table>
        <% for (let i = 0; i < grid.length; i++) { %>
            <tr>
                <% for (let j = 0; j < grid[i].length; j++) { %>
                    <td><%= grid[i][j] %></td>
                <% } %>
            </tr>
        <% } %>
    </table>
</body>
</html>
